.bg {
    width: 100%;
    min-height: 100vh;
    background: #f6f6f6;
}

.image-holder {
    min-height: 100vh;
    background: #f6f6f6;
    padding: 0;
    text-align: center;
}

.main-image {
    max-width: 100%;
    padding: 15px;
    max-height: 600px;
}

.gif-holder {
    min-height: 100vh;
    background: #424651;
    padding: 0;
}

.stickers {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.sticker {
    padding: 10px;
    max-width: 30%;
}

.search-holder {
    width: 100%;
    padding: 15px;
    /* background: rgba(0, 0, 0, 0.5); */
}

.img-search {
    background: #9E9E9E;
}

.gif-search {
}

.form-group {
    width: 75%;
}

input {
    width: 100% !important;
    outline: none;
}

.location-search:focus {
    outline:none;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
}

/* .btn-primary {
    color: #fff;
    background-color: #0071bc;
    border-color: #0071bc;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1.15em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #0081d6;
    border-color: #0081d6;
} */